$dark-green: #29473d; /* footer background etc */
$forest-green: #237044; /* top bar social media links etc */
$teal: #18b1bd; /* select button etc */
$grey: #646C64; /* main font colour */
$light-grey: #F3F6F3; /* icons etc */
$dark-grey: #2a3041; /* tab title etc */
$pink: #ee7088;

$light-green: #78E277;
$green: #188c8f;
$orange: #f99d1c;
$yellow: #f4d14a;
$red: #e54038;
$black: #000000;
$white: #ffffff;

